*,
*::before
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 720px;
  height: 720px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
}
